= simple_form_for @language do |f|
  = f.error_notification
  .form-inputs
    = f.input :lookback, required: true, default: 2, hint: 'Larger lookback values cause the language to be more similar to the original corpus, smaller values make the language more random'
    = f.input :name, required: true
    = f.input :description
    .well
      =  f.simple_fields_for :corpora do |builder|
        = builder.input :name, required: true
        = builder.input :url, required: true
        = f.check_box :_destroy
      = link_to_add_fields "Add Corpus", f, :corpora
  .actions
    = f.submit 'Save'
