%p#notice= notice

%p
  %b Language:
  = @corpus.language_id
%p
  %b Name:
  = @corpus.name
%p
  %b Url:
  = @corpus.url

= link_to 'Edit', edit_corpus_path(@corpus)
\|
= link_to 'Back', corpora_path
